<footer class="page-footer orange darken-2">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="white-text">Designers</h5>
		<ol class="grey-text text-lighten-4">
			<li>Submit your mockup design</li>
			<li>Wait for a developer to select you project</li>
			<li>Provide your developer source files needed</li>
		</ol>
		</div>
		<div class="col l6 s12">
		<h5 class="white-text">Developers</h5>
		<ol class="grey-text text-lighten-4">
			<li>Browse the mockups</li>
			<li>Choose the one you want to build</li>
			<li>Request permision and source files from designer</li>
		</ol>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	Made with  <i class="tiny material-icons">favorite</i> by <a class="orange-text text-lighten-3" href="https://daniellewalraven.com">Danielle Walraven</a> 2019
	</div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
