<header>
	<nav class="light-blue lighten-1" role="navigation">
	  <div class="nav-wrapper container"><a id="logo-container" href="/designers" class="brand-logo"><img src="/images/creativelogo.png" width="300px" alt="CreativeLogic"></a>
		<ul class="right hide-on-med-and-down">
		  <a href="/designers/new" class="waves-effect waves-light btn-large orange">Add A New Mockup</a>
		</ul>
	    <a href="/designers/new" data-target="nav-mobile" class="sidenav-trigger btn waves-effect waves-light orange"><i class="material-icons">add</i></a>
	  </div>
	</nav>
</header>
<br>
