<header>
	<nav class="light-blue lighten-1" role="navigation">
	  <div class="nav-wrapper container"><a id="logo-container" href="/designers" class="brand-logo"><img src="/images/creativelogo.png" width="300px" alt="CreativeLogic"></a>
		<ul class="right hide-on-med-and-down">
		 <li><a href="/designers/new" class="waves-effect waves-light btn orange">Add A New Mockup</a></li>
		 <li><a href="/designers" class="waves-effect waves-light btn orange">Log Out</a></li>
		 </ul>
		  <ul id="nav-mobile" class="sidenav">
			 <li><a href="/designers/new">Add A New Mockup</a></li>
     		 <li><a href="/designers">Log Out</a></li>
	      </ul>
	      <a href="#" data-target="nav-mobile" class="sidenav-trigger dropdown-trigger btn orange" data-target='dropdown1'><i class="material-icons">menu</i></a>
		  <ul id='dropdown1' class='dropdown-content'>
		    <li><a href="/designers/new">Add A New Mockup</a></li>
		    <li><a href="/designers">Log Out</a></li>
		  </ul>

	  </div>
	</nav>
</header>
<br>
