<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		<h1>Index</h1>
		<a href="/new">Add A New Mockup</a>
		<% for(let i = 0; i < mockups.length; i++){ %>
		<h2><%=mockups[i].name%></h2>
		<img src="<%=mockups[i].img%>">
		<a href="/<%=mockups[i].id%>/show">More Info</a>	
	</body>
</html>
