<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		<header>
			<nav class="light-blue lighten-1" role="navigation">
			  <div class="nav-wrapper container"><a id="logo-container" href="/designers" class="brand-logo"><img src="/images/creativelogo.png" width="300px" alt="CreativeLogic"></a>
				  </ul>
			  </div>
			</nav>
		</header>
		<br>
		<main>
			<div class="container">
				<h2 class="light-blue-text text-lighten-1">
				<%	if (currentUser) { %>
				Welcome, <%= currentUser.username %>!
				<form action="/sessions?_method=DELETE" method="POST">
	            <input type="submit"value="Log Out" class="waves-effect waves-light btn orange">
	          	</form>
				</h2>
				<h2>
				<a class="waves-effect waves-light btn orange" href="/designers">Start Adding Mockups</a>
				</h2>
				<% } else { %>
				<h2>Please</h2>
				<a class="waves-effect waves-light btn orange" href="/users/new">Sign Up</a>
				<h3>or</h3>
				<a href="/sessions/new" class="waves-effect waves-light btn orange"> Log In</a>
				<% } %>
			</div>
		</main>
		<% include ./partials/footer.ejs %>
	</body>
</html>
