<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<main>
		<div class="container">
		  <h2 class="header light-blue-text text-lighten-1">Messages</h2><br>
		  <div class="row">
			<% for(let i = 0; i < messages.length; i++){ %>
				<% if((currentUser.username === messages[i].sender) || (currentUser.username === messages[i].recipient)){ %>
				  <div class="row">
				    <div class="col s12 m6">
				      <div class="card light-blue lighten-3">
				        <div class="card-content black-text">
				          <p class="card-title">To: <%= messages[i].recipient %></p><br>
				          <p><%= messages[i].message %></p><br>
						  <p class="card-title">From: <%= messages[i].sender %></p>
				        </div>
						<% if(currentUser.username === messages[i].recipient) { %>
							<div class="card-action">
					          <a href="#"  class="waves-effect waves-light btn green">Accept</a>
					          <a href="#"  class="waves-effect waves-light btn red">Reject</a>
					        </div>
						<% } %>
				      </div>
				    </div>
				  </div>
				<% } %>
			<% } %>
		</div>
	</main>
	<% include ../partials/footer.ejs %>
	</body>
</html>
