<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<% include ../partials/head.ejs %>
	</head>
	<body>
		<% include ../partials/nav.ejs %>
		<main>
		<div class="container">
		  <h2 class="header light-blue-text text-lighten-1">Outgoing Messages</h2>
		  <p><a href="/messages" class="waves-effect waves-light btn orange darken-2">View Inbox</a></p>
		  <div class="row">
			<% for(let i = 0; i < messages.length; i++){ %>
				<% if(currentUser.username === messages[i].sender){ %>
				  <div class="row">
				    <div class="col s12 m6">
				      <div class="card light-blue lighten-3">
				        <div class="card-content black-text">
				          <p class="card-title">To: <%= messages[i].recipient %></p><br>
				          <p><%= messages[i].message %></p><br>
						  <p class="card-title">From: <%= messages[i].sender %></p>
				        </div>
				      </div>
				    </div>
				  </div>
				<% } %>
			<% } %>
		</div>
	</main>
	<% include ../partials/footer.ejs %>
	</body>
</html>
