<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
		<header>
			<nav class="light-blue lighten-1" role="navigation">
			  <div class="nav-wrapper container"><a id="logo-container" href="/designers" class="brand-logo"><img src="/images/creativelogo.png" width="300px" alt="CreativeLogic"></a>
			  </div>
			</nav>
		</header>
	<main>
      <div class="container">
        <h2 class="light-blue-text text-lighten-1">Nice Try Buddy!</h2>
		<h4 class="light-blue-text text-lighten-1">That password was incorrect.</h4>
		<a href="/sessions/new" class="waves-effect waves-light btn light-blue lighten-1">Try again.</a><br><br>
		<img class="materialboxed" width="650" src="/images/groucho.jpg">
		<caption> Photo by <a href="https://unsplash.com/photos/wOHH-NUTvVc">Braydon Anderson</a></caption><br><br>
    </div>
	</main>
		<% include ../partials/footer.ejs %>
    </body>
</html>
