<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
    <body>
		<header>
			<nav class="light-blue lighten-1" role="navigation">
			  <div class="nav-wrapper container"><a id="logo-container" href="/designers" class="brand-logo"><img src="/images/creativelogo.png" width="300px" alt="CreativeLogic"></a>
				  </ul>
			  </div>
			</nav>
		</header>
	<main>
      <div class="container">
        <h2 <h2 class="light-blue-text text-lighten-1">Sign Up</h2><br>
          <form class="col s12" action="/users" method="POST">
            <div class="row">
              <div class="input-field col s6">
                <input id="username" type="text" class="validate" name="username" required>
                <label for="username">User Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="password" type="password" class="validate" name="password" required>
                <label for="password">Password</label>
              </div>
            </div>
			<div class="row">
				<div class="input-field col s3">
					<label>
						<input type="checkbox" class="filled-in checkbox-orange" name="designer"/>
						<span>Designer</span>
					</label>
				</div>
				<div class="input-field col s3">
					<label>
						<input type="checkbox" class="filled-in checkbox-orange" name="developer"/>
						<span>Developer</span>
					</label>
				</div>
			</div><br><br>
			<div class="row">
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
			</div>
          </form>
        </div>
		</main>
		<% include ../partials/footer.ejs %>
    </body>
</html>
